<div class="container">

  <div class="add-item">

    <div class="add-icon" (click)="addItem()">
      <i class="fas fa-plus"></i>
    </div>
    <input type="text" name="" class="input-text" placeholder="Add a to-do..." (keyup.enter)="addItem()" [(ngModel)]="entry" />
    <div class="feature-icon" [ngClass]="{'gold-bg': entryFavorite}">
      <i *ngIf="!entryFavorite; else elseStar" class="far fa-star" (click)="entryFavorite = !entryFavorite"></i>

      <ng-template #elseStar>
        <i class="fas fa-star" (click)="entryFavorite = !entryFavorite"></i>
      </ng-template>
    </div>

  </div>

  <div class="todo-list">

    <div class="item" [ngClass]="{'show': item.show}" *ngFor="let item of todolist">
      <div class="item-checkbox">
        <i *ngIf="!item.complete; else elseBlock" class="fas fa-square" (click)="completeItem(item)"></i>
        <ng-template #elseBlock>
          <i class="fas fa-check-square"></i>
        </ng-template>
      </div>
      <div class="item-title">
        {{ item.title }}
      </div>
      <div class="feature-icon" [ngClass]="{'gold-bg': item.favorite}">
        <i *ngIf="!item.favorite; else elseStar" class="far fa-star" (click)="setFavoriteItem(item)"></i>

        <ng-template #elseStar>
          <i class="fas fa-star" (click)="item.favorite = !item.favorite"></i>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="show-completed" *ngIf="completedtodolist.length > 0">
    <div class="button" (click)="showCompletedList = !showCompletedList">
      <span *ngIf="!showCompletedList; else elseShow">show</span>
      <ng-template #elseShow>
        <span>hide</span>
      </ng-template>
      completed to-do's
    </div>
  </div>

  <div class="todo-list complete-list" *ngIf="showCompletedList">
    <div class="item" [ngClass]="{'show': item.show}" *ngFor="let item of completedtodolist">
      <div class="item-checkbox">
        <i *ngIf="!item.complete; else elseBlock" class="fas fa-square"></i>
        <ng-template #elseBlock>
          <i class="fas fa-check-square" (click)="uncompleteItem(item)"></i>
        </ng-template>
      </div>
      <div class="item-title">
      {{ item.title }}
      </div>
      <div class="feature-icon" [ngClass]="{'gold-bg': item.favorite}">
        <i *ngIf="!item.favorite; else elseStar" class="far fa-star"></i>

        <ng-template #elseStar>
          <i class="fas fa-star"></i>
        </ng-template>
      </div>
    </div>
  </div>
</div>
